*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  /* height: 100vh; */
  background-color: #141f38;
  display: flex;
  justify-content: center;
  /* place-items: center; */
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
  color: #E5E7EB;

}
.imgdiv{
  width: 100vw;
  /* height: 20vw; */
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vh;
}
.imgdiv1{
  width: 20vw;
  height: 60vh;
   background-color: #1E293B;
  border-radius: 5vh;
  margin-bottom: 5vh;
  background-color: #334155;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-evenly;
  /* border: 0.5vh solid black; */
  flex-direction: column;
  padding: 1.6vh;
  padding-top: 0vh;
  cursor: pointer;
  transition: all linear 100ms;
}
.imgdiv1:hover{
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 45px rgba(0,0,0,0.6);
}
.imgdiv1 li{
  list-style-type: none;
}
.imgdiv1 img{
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 5vh 5vh 0vh 0vh;
}
.headings{
  font-size: 10vh;
  color: gray;
  background-color: dark;
  text-shadow: 0.2vh 0.2vh 1vh black;
  text-align: center;
}
